@page "/students"
@using DormitoryManagement.Data.Models
@inject StudentService StudentService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]


@using System.Collections
@using Microsoft.AspNetCore.Authorization

@if (_isLoading)
{
    <p>Loading..</p>
}
else
{
    <div class="overflow-x-auto">
        <div class="flex justify-end mb-2">
            <button class="btn btn-primary" @onclick="AddStudent">Add Student</button>
        </div>

        <StudentTable Students="_students">
            <ActionTemplate Context="context">
                <a href="@($"students/{context.Id}")" class="btn btn-ghost">Open</a>
            </ActionTemplate>
        </StudentTable>
    </div>
}

@code {
    private bool _isLoading;
    private List<Student> _students = [];

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        _students = await StudentService.GetAllStudents();
        _isLoading = false;
    }

    private void AddStudent()
    {
        NavigationManager.NavigateTo("students/student-add");
    }

}